<template>
  <v-footer
    class="py-4"
    dark
    height="auto"
  >
    <v-container class="mx-auto">
      <v-row>
        <v-col cols="12" align="center">
          <h4>{{`${author} | ${copyright}`}}</h4>
        </v-col>
      </v-row>
    </v-container>
  </v-footer>
</template>

<script>
  export default {
    name: 'CoreFooter',

    data: () => ({
      'author' : 'Airlangga & Fitria',
      'copyright': '2022'
    }),
  }
</script>
