<template>
  <v-container
    id="about"
    tag="section"
  >
    <base-subheading>About Us</base-subheading>

    <p>
     Final Project Sanbercode Bootcamp Vue JS - Batch 30
    </p>
    <p>Presented By : Airlangga and Fitria</p>
  </v-container>
</template>

<script>
  export default {
    name: 'About',
  }
</script>
