<template>
    <v-container>
        <alert/>
        <v-row>
            <v-col cols="12">
                <v-container>
                    <v-row class="mb-10 mt-7">
                        <v-col cols="6">
                            <base-subheading>Form Blog</base-subheading>
                            <v-form
                                ref="form"
                                v-model="valid"
                                @submit.prevent=submitForm()
                                id="blog-form"
                                lazy-validation
                            >
                                <v-text-field
                                v-model="title"
                                :counter="100"
                                :rules="titleRules"
                                label="Title"
                                required
                                ></v-text-field>

                                <v-text-field
                                v-model="description"
                                :rules="descriptionRules"
                                :counter="1500"
                                label="Description"
                                required
                                ></v-text-field>

                                <v-file-input v-if="buttonStatus == 'upload'"
                                chips
                                counter
                                show-size
                                truncate-length="15"
                                label="Upload File"
                                name="photo"
                                @change="changeFile"
                                ></v-file-input>

                                <v-row class="mt-7" v-if="buttonStatus == 'submit'">

                                <v-btn
                                :disabled="!valid"
                                color="success"
                                class="mr-4"
                                type="submit"
                                form="blog-form"
                                >
                                Submit
                                </v-btn>

                                </v-row>

                                <v-row class="mt-7" v-else-if="buttonStatus == 'update'">

                                <v-btn
                                :disabled="!valid"
                                color="info"
                                class="mr-4"
                                form="blog-form"
                                @click="updateBlog(idEditBlog)"
                                >
                                Update
                                </v-btn>

                                <v-btn
                                color="error"
                                class="mr-4"
                                @click="reset"
                                >
                                Cancel
                                </v-btn>

                                </v-row>

                                <v-row class="mt-7" v-else-if="buttonStatus == 'upload'">

                                <v-btn
                                :disabled="!valid"
                                color="info"
                                class="mr-4"
                                form="blog-form"
                                @click="submitPhoto(idUploadBlog)"
                                >
                                Upload
                                </v-btn>

                                <v-btn
                                color="error"
                                class="mr-4"
                                @click="reset"
                                >
                                Cancel
                                </v-btn>

                                </v-row>
                            </v-form>
                        </v-col>
                    </v-row>
                </v-container>
                <v-spacer></v-spacer>
                <blog-table 
                    :blogs = "blogs"
                    :api-domain = "apiDomain"
                    @edit="editBlog"
                    @upload="uploadPhoto"
                    @remove="removeBlog"
                />
            </v-col>
        </v-row>
    </v-container>
</template>
<script>

import { mapActions } from 'vuex'

export default {
    name:'BlogManagement',
    components: {
      BlogTable: () => import('@/components/BlogTable'),
      Alert: () => import('@/components/base/Alert'), 
    },
    data () {
      return {
        blogs: [],
        apiDomain: 'https://demo-api-vue.sanbercloud.com/',
        valid: true,
        title: '',
        titleRules: [
            v => !!v || 'Title is required',
            v => (v && v.length <= 100) || 'Title must be less than 10 characters',
        ],
        description: '',
        descriptionRules: [
            v => !!v || 'Description is required',
            v => (v && v.length <= 1500)  || 'E-mail must be valid',
        ],
        title: '',
        description: '',
        buttonStatus: 'submit',
        idEditBlog: null,
        idUploadBlog: null,
        apiToken: '',
        file: null,
      }
    },
    methods: {
        getBlogs: function () {
            const config = {
            method: "get",
            url: `${this.apiDomain}/api/blog`
            }

            this.axios(config)
            .then((response) => {

            this.blogs = response.data.blogs

            })
            .catch((error) => {
            console.log(error)
            })
        },

        editBlog: function (blog) {
            this.title = blog.title
            this.description = blog.description
            this.buttonStatus = 'update'
            this.idEditBlog = blog.id
        },

        validate () {
            return this.valid = this.$refs.form.validate()
        },
        reset () {
            this.$refs.form.reset()
            this.buttonStatus = 'submit'
        },
      
        submitForm: function () {
            this.validate()

            if (this.valid) {

                let formData = new FormData()
                formData.append('title', this.title)
                formData.append('description', this.description)

                const config = {
                    method: "post",
                    url: `${this.apiDomain}/api/v2/blog`,
                    data: formData,
                    headers: {
                                'Authorization': `Bearer ${this.apiToken}`
                            },
                }

                this.axios(config)
                .then((response) => {
                    this.reset()
                    this.getBlogs()
                    this.setAlert({
                        status: true,
                        color: 'success',
                        text: 'Sucessfully Added'
                    })

                })
                .catch((error) => {
                    console.log(error)
                })

            }

        },

        uploadPhoto: function (blog) {
            this.title = blog.title
            this.description = blog.description
            this.buttonStatus = 'upload'
            this.idUploadBlog = blog.id
        },

        updateBlog: function (id) {
            this.validate()

            if (this.valid) {

            let formData = new FormData()
            formData.append('title', this.title)
            formData.append('description', this.description)

            let config = {
                method: "post",
                url: `${this.apiDomain}/api/v2/blog/${id}`,
                params: { _method: 'PUT' },
                data: formData,
                headers: {
                                'Authorization': `Bearer ${this.apiToken}`
                            },
            }

            this.axios(config)
            .then((response) => {

                this.reset()
                this.getBlogs()
                this.setAlert({
                    status: true,
                    color: 'success',
                    text: 'Sucessfully Updated'
                })

            })
            .catch((error) => {
                console.log(error)
            })
            }
        },

        removeBlog: function (id) {
            
            const config = {
                method: "post",
                url: `${this.apiDomain}/api/v2/blog/${id}`,
                params: { _method: "DELETE" },
                headers: {
                                'Authorization': `Bearer ${this.apiToken}`
                            },
            }

            this.axios(config)
            .then((response) => {
                this.getBlogs()
                this.setAlert({
                    status: true,
                    color: 'success',
                    text: 'Sucessfully Removed'
                })
            })
            .catch((error) => {
                console.log(error)
            })
        },

        submitPhoto: function (id) {

            let file = this.file

            let formData = new FormData()
            formData.append('photo', file)

            let config = {
                method: "post",
                url: `${this.apiDomain}/api/v2/blog/${id}/upload-photo`,
                data: formData,
                headers: {
                                'Authorization': `Bearer ${this.apiToken}`
                            },
            }

            this.axios(config)
            .then((response) => {
                this.reset()
                this.getBlogs()
                this.setAlert({
                    status: true,
                    color: 'success',
                    text: 'Sucessfully Uploaded'
                })
            })
            .catch((error) => {
                console.log(error)
            })
        },

        getToken(){
            let email = 'airlanggadwitestap@gmail.com'
            let password = 'P@ssw0rd'

            let formData = new FormData()
            formData.append('email', email)
            formData.append('password', password)

            let config = {
                method: "post",
                url: `${this.apiDomain}/api/v2/auth/login`,
                data: formData
            }

            this.axios(config)
            .then((response) => {
                this.apiToken = response.data.access_token
                 console.log(this.apiToken)
            })
            .catch((error) => {
                console.log(error)
            })
        },

        ...mapActions({
            setAlert : 'alert/set'
        }),

        changeFile(e){
            this.file = e
            console.log(this.file)
        },
    },
    created(){
        this.getBlogs()
        this.getToken()
    }
}
</script>