<template>
  <div id="blogs">
    <articles 
    :limit="2"
    :show-page=true
    >
    </articles>
  </div>
</template>

<script>
  export default {
    name: 'Blogs',

    components: {
      Articles: () => import('@/components/home/Articles'),
    },
  }
</script>
