<template>
  <base-card
    class="mx-auto my-12"
    max-width="800"
    v-if="blog.id"
  >

    <v-img
      height="250"
      :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/300/?blur=1'"
    ></v-img>

    <v-card-title>{{blog.title}}</v-card-title>

    <v-card-text>
      <v-row
        align="center"
        class="mx-0"
      >
        <div class="my-4 text-subtitle-1">
            {{blog.description}}
        </div>
    </v-row>
    </v-card-text>

  </base-card>
</template>
<script>
export default {
    name:'Blog',
    data: () => ({
      apiDomain : 'https://demo-api-vue.sanbercloud.com',
      blog: [],
    }),
      methods: {
      go(){
        let { id } = this.$route.params
        
        const config = {
          method : 'get',
          url : `${this.apiDomain}/api/v2/blog/${id}`
        }

        this.axios(config)
          .then(response  => {
            let { blog } = response.data
            this.blog = blog
            console.log(this.blog)
          })
          .catch(error => {
            console.log(error)
          })
      }
    },

    created() {
      this.go()
    },
}
</script>