<template>
  <div class="text-center">
    <v-snackbar
      v-model="alert"
      :timeout="3000"
      multi-line
      :color="color"
      bottom
    >
      {{ text }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
<script>

import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'alert',
    computed:{
        ...mapGetters({
            status: "alert/status",
            color: "alert/color",
            text: "alert/text",
        }),
        alert: {
            get(){
                return this.status
            },
            set(value){
                this.setAlert({
                    status: value
                })
            }
        }
    },
    methods: {
        ...mapActions({
            setAlert : "alert/set"
        }),
        close(){
            this.setAlert({
                status: false
            })
        }
    },
    
}
</script>