<template>
  <section id="feed">
    <feed 
    :initial-limit=limit
    :show-page="showPage">
      <slot />
    </feed>
  </section>
</template>

<script>
  export default {
    name: 'HomeAbout',

    props:['limit','showPage'],

    components: {
      Feed: () => import('@/components/Feed'),
    },
  }
</script>
