<template>
  <base-card dark>
  <v-carousel class="grey lighten-2" height="400">
    <v-carousel-item
      v-for="(item,i) in blogs"
      :key="i"
      :src="item.photo ? apiDomain + item.photo : 'https://picsum.photos/200/300/?blur=1'"
      reverse-transition="fade-transition"
      transition="fade-transition"
      gradient="rgba(0, 0, 0, .42), rgba(0, 0, 0, .42)"
    >
     <v-row
        class="fill-height"
        align="center"
      >
        <v-col
          cols="12"
          align="center"
        >
          <h1 class="display-3 font-weight-light">
            {{item.title.substring(0,50)}}...
          </h1>

          <div class="subheading text-uppercase pl-2 mb-4">
            Click Button Bellow To Read Completely
          </div>

          <v-btn
            color="primary"
            depressed
          >
            Read More
          </v-btn>
        </v-col>
      </v-row>
    </v-carousel-item>
  </v-carousel>
     
  </base-card>
</template>

<script>
  export default {
    name: 'HomeBanner',
    data() {
      return {
        apiDomain : 'https://demo-api-vue.sanbercloud.com',
        blogs: [],
      }
    },
    methods: {
       go(){
        const config = {
          method : 'get',
          url : this.apiDomain + '/api/v2/blog/random/3'
        }

        this.axios(config)
          .then(response  => {
            let { blogs } = response.data
            this.blogs = blogs
            console.log(this.blogs)
          })
          .catch(error => {
            console.log(error)
          })
      }
    },
    created() {
      this.go()
    },
  }
</script>
