<template>
<v-container>
    <v-row class="mb-10">
        <v-col cols="12">
            <v-card>
                <v-card-title>
                    Data Blogs
                </v-card-title>
                <v-simple-table>
                    <template v-slot:default>
                    <thead>
                        <tr>
                        <th class="text-center">
                            Photo
                        </th>
                        <th class="text-center">
                            Title
                        </th>
                        <th class="text-center">
                            Description
                        </th>
                        <th class="text-center">
                            Action
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                        v-for="blog in blogs"
                        :key="blog.id"
                        >
                        <td><img width=100 :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/300'" alt=""></td>
                        <td>{{ blog.title }}</td>
                        <td>{{ blog.description }}</td>
                        <td>
                            <button @click="$emit('edit' , blog)"><v-icon large color="green darken-2">mdi-pencil</v-icon></button>
                            <button @click="$emit('remove' , blog.id)"><v-icon large color="red darken-2">mdi-delete</v-icon></button>
                            <button @click="$emit('upload' , blog)"><v-icon large color="yellow darken-2">mdi-upload</v-icon></button>
                        </td>
                        </tr>
                    </tbody>
                    </template>
                </v-simple-table>
            </v-card>
        </v-col>
    </v-row>
</v-container>
</template>

<script>
  export default {
    props : ['blogs','apiDomain']
  }
</script>