<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <slot />
      </v-col>

      <feed-card
        v-for="(blog, i) in blogs"
        :key="blog.title"
        :size="layout[i]"
        :value="blog"
        :apiDomain="apiDomain"
      />
    </v-row>

    <v-row 
    v-if="showPage"
    align="center" class="mb-8 mt-3">
     <v-col cols="12" align="center">
        <v-pagination
        v-model="page"
        @input="go"
        :length="lengthPage"
        :total-visible="4">
        </v-pagination>
      </v-col>
    </v-row>
    <v-row v-else>
      <v-col cols="12" align="center">
       <v-btn 
          color="primary"
          class="mb-8 mt-3"
          to="/blogs"
          >
          Show All Blogs
       </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  // Utilities

  export default {
    name: 'Feed',

    props: ['initialLimit','showPage'],

    components: {
      FeedCard: () => import('@/components/FeedCard'),
    },

    data: () => ({
      layout: [2, 2, 1, 2, 2, 3, 3, 3, 1, 2, 2],
      page: 1,
      apiDomain : 'https://demo-api-vue.sanbercloud.com',
      blogs: [],
      page: 0,
      lengthPage: 0,
      perPage:0,
      url: null,
    }),

    methods: {
      go(){

        if(!this.showPage){
          this.url = this.apiDomain + '/api/v2/blog/random/' + this.initialLimit
        }else{
          this.url = this.apiDomain + '/api/v2/blog?page=' + this.page
        }
        const config = {
          method : 'get',
          url : this.url
        }

        this.axios(config)
          .then(response  => {
            let { blogs } = response.data

            if(!this.showPage){
              this.blogs = blogs
            }else{
              this.blogs = blogs.data
            }
            this.page = blogs.current_page
            this.lengthPage = blogs.last_page
            this.perPage = blogs.per_page
            console.log(this.blogs)
          })
          .catch(error => {
            console.log(error)
          })
      }
    },

    created() {
      this.go()
    },

    watch: {
      page () {
        window.scrollTo(0, 0)
      },
    },
  }
</script>
