<template>
  <v-app>
    <v-app-bar
    app
    flat
  >
    <v-app-bar-nav-icon
      v-if="admin"
      @click.stop="drawer=!drawer"
    />

    <v-container class="mx-auto py-0">
      <v-row align="center">
        
      <router-link :to="'/'" class="text-decoration-none">
        <v-btn class="hidden-sm-and-down" text>Home</v-btn>
      </router-link>
      <router-link :to="'/about'" class="text-decoration-none">
        <v-btn class="hidden-sm-and-down" text>About</v-btn>
      </router-link>
      <router-link :to="'/blogs'" class="text-decoration-none">
        <v-btn class="hidden-sm-and-down" text>Blogs</v-btn>
      </router-link>
      

      </v-row>
    </v-container>
  </v-app-bar>

    <v-navigation-drawer
    v-model="drawer"
    app
    dark
    temporary
  >
    <v-list>
      <v-list-item v-if="!guest">
        <v-list-item-avatar>
          <v-img src="https://randomuser.me/api/portraits/lego/8.jpg"></v-img>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title>Administrator</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <div class="pa-2" v-if="guest">
        <v-btn block color="primary" class="mb-1" @click="login">
        <v-icon left>mdi-lock</v-icon>
        Login
        </v-btn>
        <v-btn block color="success">
        <v-icon left>mdi-account</v-icon>
        Register
        </v-btn>
      </div>

      <v-divider></v-divider>

    <v-row  v-if = "!guest">
      <v-list-item 
        v-for="(item, index) in menus"
        :key="`menu-${index}`"
        :to="item.route"
      >
        <v-list-item-icon>
          <v-icon left>{{item.icon}}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{item.title}}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-row>
    </v-list>
    <template v-slot:append v-if="!guest">
      <div class="pa-2">
        <v-btn block color="red" dark @click="logout">
        <v-icon left>mdi-lock</v-icon>
        Logout
        </v-btn>
      </div>
    </template>
  </v-navigation-drawer>

    <alert />
    <dialog />

    <core-view />
   
   
    <core-footer />
    
  </v-app>
</template>

<script>
import { mapActions } from 'vuex'
  export default {
    name: 'App',

    data: () => ({
      admin: true,
      drawer : false,
      guest : false,
      menus : [
        {title : 'Blog Management', icon : 'mdi-notes', route : '/blog-management'},
      ],
    }),

    components: {
      CoreFooter: () => import('@/components/core/Footer'),
      CoreView: () => import('@/components/core/View'),
      Alert: () => import('@/components/base/Alert'), 
      Dialog: () => import('@/components/base/Dialog'),
      Login: () => import('@/components/Login')
    },
    methods: {
      logout(){
        this.guest = true,
        this.setAlert({
          status : true,
          color : 'success',
          text : 'Logout Successfull'
        })
      },
      login(){
        this.setDialogComponent({'component' : 'login'})
      },
      ...mapActions({
        setAlert : 'alert/set',
        setDialogComponent : 'dialog/setComponent'
      })
    },
  }
</script>
<style scoped>
.router-link-exact-active{
  background-color: #cbaa5c;;
} 
</style>